In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm
tqdm.pandas()


#libraries required for NetworkX
import networkx as nx

In [2]:
Recommender_Graph = nx.Graph()

In [3]:
movie_v2 = pd.read_csv("movies_wise_summary_V2.csv")
ratings= pd.read_csv("ratings_v2.csv")

In [4]:
ratings_v2 = ratings.copy()

In [5]:
ratings_v2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 11 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   userId      1000209 non-null  int64
 1   movieId     1000209 non-null  int64
 2   rating      1000209 non-null  int64
 3   title       1000209 non-null  object
 4   genres      998034 non-null   object
 5   year        1000209 non-null  int64
 6   meta_data   998034 non-null   object
 7   gender      1000209 non-null  object
 8   age         1000209 non-null  int64
 9   occupation  1000209 non-null  object
 10  zipcode     1000209 non-null  object
dtypes: int64(5), object(6)
memory usage: 83.9+ MB

## Creating Nodes for the Recommender Graph

In [18]:
ratings_v2[["userId","movieId"]] = ratings_v2[['userId', 'movieId']].astype(str)

In [245]:
ratings_v2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 11 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   userId      1000209 non-null  object
 1   movieId     1000209 non-null  object
 2   rating      1000209 non-null  int64
 3   title       1000209 non-null  object
 4   genres      998034 non-null   object
 5   year        1000209 non-null  int64
 6   meta_data   998034 non-null   object
 7   gender      1000209 non-null  object
 8   age         1000209 non-null  int64
 9   occupation  1000209 non-null  object
 10  zipcode     1000209 non-null  object
dtypes: int64(3), object(8)
memory usage: 83.9+ MB

In [19]:
ratings_v2["userId"] = ratings_v2["userId"]+"$$u"  #u subscript for user
ratings_v2["movieId"] = ratings_v2["movieId"]+"$$m"  #u subscript for user

In [247]:
#I think movie related nodes should be made from movie metadata and user related information nodes should be made separately
ratings_v2.head(2)

,userId,movieId,rating,title,genres,year,meta_data,gender,age,occupation,zipcode
0,1$$u,1$$m,5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,"{'adult': False, 'backdrop_path': '/3Rfvhy1Nl6...",F,1,K-12 student,48067
1,1$$u,2692$$m,4,Run Lola Run (Lola rennt) (1998),Action|Crime,1998,"{'adult': False, 'backdrop_path': '/lhsrT0SbPa...",F,1,K-12 student,48067

In [248]:
Recommender_Graph

In [249]:
Recommender_Graph= nx.from_pandas_edgelist(ratings_v2, source='userId', target='movieId', edge_attr="rating")

In [250]:
print(Recommender_Graph.has_edge('1$$u','1$$m'))

True

In [251]:
Recommender_Graph.number_of_nodes()
nx.write_gpickle(Recommender_Graph, "Recommender_graph.gpickle")

In [252]:
Recommender_Graph_v2 = nx.read_gpickle("Recommender_graph.gpickle")

In [253]:
Recommender_Graph_v2.number_of_edges()

1000209

In [ ]:
#adding movie_summary nodes and edges
#adding_movieid & Genre Nodes edges

In [254]:
movie_v2["movieId"] = movie_v2["movieId"].astype(str)

In [255]:
movie_v2["movieId"] = movie_v2["movieId"] + "$$m"

In [256]:
movie_genre_edges = movie_v2[["movieId","genres"]]

In [257]:
type(movie_genre_edges["genres"])

pandas.core.series.Series

In [258]:
movie_genre_edges["genres"]= movie_genre_edges["genres"].apply(lambda x: list(x.split("|")))

<ipython-input-258-000482facf19>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_genre_edges["genres"]= movie_genre_edges["genres"].apply(lambda x: list(x.split("|")))

In [259]:
#explode works on a list of items
movie_genre_edges = movie_genre_edges.explode(column="genres",ignore_index=False)

In [260]:
movie_genre_edges.reset_index(inplace=True)

In [261]:
movie_genre_edges.drop('index',axis=1,inplace=True)

In [262]:
movie_genre_edges["genres"]= movie_genre_edges["genres"] + "$$genres"

In [263]:
#the below code makes the list of all the columns and then we explode on the basis of list (explode is always applied on a list)
movie_genre_edges['combined']= movie_genre_edges.values.tolist()

In [264]:
type(movie_genre_edges["combined"])

pandas.core.series.Series

In [265]:
movie_genre_edges["combined_tuple"]=movie_genre_edges["combined"].apply(lambda x: tuple(x))

In [266]:
movie_genre_edges_list = list(movie_genre_edges["combined_tuple"])

In [267]:
Recommender_Graph_v2.add_edges_from(movie_genre_edges_list,weight=4)

In [268]:
Recommender_Graph_v2.number_of_nodes()

9765

In [269]:
nx.write_gpickle(Recommender_Graph_v2, "Recommender_graph.gpickle")

In [270]:
#adding movie & year edges

In [271]:
movie_and_year = movie_v2[["movieId","year"]]

In [272]:
movie_and_year[["movieId","year"]] = movie_and_year[["movieId","year"]].astype(str)
movie_and_year["year"] = movie_and_year["year"] + "$$year"

C:\Users\hp\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
<ipython-input-272-cf6700df1024>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_and_year["year"] = movie_and_year["year"] + "$$year"

In [273]:
movie_and_year['combined']= movie_and_year.values.tolist()

<ipython-input-273-a2d0138b27b9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_and_year['combined']= movie_and_year.values.tolist()

In [274]:
movie_and_year["combined_tuple"]=movie_and_year["combined"].apply(lambda x: tuple(x))

<ipython-input-274-cd190f023d7b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_and_year["combined_tuple"]=movie_and_year["combined"].apply(lambda x: tuple(x))

In [275]:
#for using add_edges_from we need a list of tuples
Recommender_Graph_v2.add_edges_from(list(movie_and_year["combined_tuple"]),weight = 4)

In [276]:
Recommender_Graph_v2.number_of_nodes()

9846

In [277]:
nx.write_gpickle(Recommender_Graph_v2, "Recommender_graph_year+genre.gpickle")

In [278]:
movie_and_lang = movie_v2[["movieId","original_language"]]

In [280]:
movie_and_lang["original_language"] = movie_and_lang["original_language"] + "$$original_language"

<ipython-input-280-7689e7e03909>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_and_lang["original_language"] = movie_and_lang["original_language"] + "$$original_language"

In [281]:
movie_and_lang['combined']= movie_and_lang.values.tolist()

<ipython-input-281-57bd1cf2a4f8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_and_lang['combined']= movie_and_lang.values.tolist()

In [282]:
movie_and_lang["combined_tuple"]=movie_and_lang["combined"].apply(lambda x: tuple(x))

<ipython-input-282-ab61cd029184>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_and_lang["combined_tuple"]=movie_and_lang["combined"].apply(lambda x: tuple(x))

In [283]:
Recommender_Graph_v2.add_edges_from(list(movie_and_lang["combined_tuple"]),weight = 4)

In [284]:
production_countries = movie_v2[["movieId","production_countries"]].copy()

In [285]:
production_countries.shape

(3685, 2)

In [286]:
production_countries.dropna(axis=0,inplace=True)

In [287]:
production_countries

      movieId                               production_countries
0        1$$m  [{'iso_3166_1': 'US', 'name': 'United States o...
1       10$$m  [{'iso_3166_1': 'GB', 'name': 'United Kingdom'...
2      100$$m  [{'iso_3166_1': 'US', 'name': 'United States o...
3     1000$$m  [{'iso_3166_1': 'US', 'name': 'United States o...
4     1002$$m                                                 []
...       ...                                                ...
3680   994$$m  [{'iso_3166_1': 'US', 'name': 'United States o...
3681   996$$m  [{'iso_3166_1': 'US', 'name': 'United States o...
3682   997$$m  [{'iso_3166_1': 'US', 'name': 'United States o...
3683   998$$m  [{'iso_3166_1': 'US', 'name': 'United States o...
3684   999$$m  [{'iso_3166_1': 'US', 'name': 'United States o...

[3666 rows x 2 columns]

In [288]:
production_countries["without_string"] = production_countries["production_countries"].apply(lambda x: eval(x))

In [289]:
production_countries = production_countries.explode(column = "without_string",ignore_index=False)

In [290]:
production_countries["without_string"].isna().sum()
#125 entries are missing so dropping them off
print(production_countries.shape)
production_countries.dropna(axis=0,inplace=True)
print(production_countries.shape)

(4681, 3)
(4556, 3)

In [291]:
production_countries.reset_index(inplace=True)

In [292]:
production_countries["without_string"].apply(lambda x: pd.DataFrame(x,index=[0])["name"])

                             0
0     United States of America
1               United Kingdom
2     United States of America
3     United States of America
4     United States of America
...                        ...
4551  United States of America
4552  United States of America
4553  United States of America
4554  United States of America
4555  United States of America

[4556 rows x 1 columns]

In [293]:
production_countries["final_production_country"] = production_countries["without_string"].apply(lambda x: pd.DataFrame(x,index=[0])["name"])

In [294]:
production_countries

,index,movieId,production_countries,without_string,final_production_country
0,0,1$$m,"[{'iso_3166_1': 'US', 'name': 'United States o...","{'iso_3166_1': 'US', 'name': 'United States of...",United States of America
1,1,10$$m,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","{'iso_3166_1': 'GB', 'name': 'United Kingdom'}",United Kingdom
2,1,10$$m,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","{'iso_3166_1': 'US', 'name': 'United States of...",United States of America
3,2,100$$m,"[{'iso_3166_1': 'US', 'name': 'United States o...","{'iso_3166_1': 'US', 'name': 'United States of...",United States of America
4,3,1000$$m,"[{'iso_3166_1': 'US', 'name': 'United States o...","{'iso_3166_1': 'US', 'name': 'United States of...",United States of America
...,...,...,...,...,...
4551,3680,994$$m,"[{'iso_3166_1': 'US', 'name': 'United States o...","{'iso_3166_1': 'US', 'name': 'United States of...",United States of America
4552,3681,996$$m,"[{'iso_3166_1': 'US', 'name': 'United States o...","{'iso_3166_1': 'US', 'name': 'United States of...",United States of America
4553,3682,997$$m,"[{'iso_3166_1': 'US', 'name': 'United States o...","{'iso_3166_1': 'US', 'name': 'United States of...",United States of America
4554,3683,998$$m,"[{'iso_3166_1': 'US', 'name': 'United States o...","{'iso_3166_1': 'US', 'name': 'United States of...",United States of America
4555,3684,999$$m,"[{'iso_3166_1': 'US', 'name': 'United States o...","{'iso_3166_1': 'US', 'name': 'United States of...",United States of America

In [295]:
movie_and_prod_country = production_countries[["movieId","final_production_country"]].copy()

In [296]:
movie_and_prod_country["final_production_country"] = movie_and_prod_country["final_production_country"]+"$$production_country"

In [297]:
movie_and_prod_country.head(2)
movie_and_prod_country['combined']= movie_and_prod_country.values.tolist()
movie_and_prod_country["combined_tuple"]=movie_and_prod_country["combined"].apply(lambda x: tuple(x))
Recommender_Graph_v2.add_edges_from(list(movie_and_prod_country["combined_tuple"]),weight = 4)

In [298]:
Recommender_Graph_v2.number_of_nodes()

9945

In [299]:
nx.write_gpickle(Recommender_Graph_v2, "Recommender_graph_year+genre+prod_country.gpickle")

In [6]:
Recommender_Graph_v2 = nx.read_gpickle("Recommender_graph_year+genre+prod_country.gpickle")

In [7]:
ratings_v2.head(2)

,userId,movieId,rating,title,genres,year,meta_data,gender,age,occupation,zipcode
0,1$$u,1$$m,5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,"{'adult': False, 'backdrop_path': '/3Rfvhy1Nl6...",F,1,K-12 student,48067
1,1$$u,2692$$m,4,Run Lola Run (Lola rennt) (1998),Action|Crime,1998,"{'adult': False, 'backdrop_path': '/lhsrT0SbPa...",F,1,K-12 student,48067

In [27]:
movie_v2["movieId"] =movie_v2["movieId"].astype(str)
movie_v2["movieId"] = movie_v2["movieId"] +"$$m"
movie_v2.to_csv('movies_wise_summary_V2_modified_movie_id_$$m.csv',index=False)

In [28]:
movie_popularity = movie_v2[["movieId","popularity"]].copy()

In [29]:
movie_popularity.head(2)
print(movie_popularity.info())
#popularity column is much of it is populated
#1st converting the popularity column into a whole no

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3685 entries, 0 to 3684
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   movieId     3685 non-null   object
 1   popularity  3666 non-null   float64
dtypes: float64(1), object(1)
memory usage: 57.7+ KB
None

In [30]:
movie_popularity.dropna(subset=['popularity'],axis=0,inplace=True)

In [31]:
movie_popularity["popularity_ceiling"] = movie_popularity["popularity"].apply(lambda x: math.ceil(x))

In [32]:
movie_popularity = movie_popularity[["movieId","popularity_ceiling"]]

In [33]:
movie_popularity["popularity_ceiling"] = movie_popularity["popularity_ceiling"].astype(str)

In [34]:
movie_popularity.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3666 entries, 0 to 3684
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movieId             3666 non-null   object
 1   popularity_ceiling  3666 non-null   object
dtypes: object(2)
memory usage: 85.9+ KB

In [36]:
movie_popularity["popularity_ceiling"] = movie_popularity["popularity_ceiling"]+"$$popularity"

In [37]:
print(Recommender_Graph_v2.number_of_nodes())
print(Recommender_Graph_v2.number_of_edges())

9945
1019660

In [38]:
movie_popularity['combined']= movie_popularity.values.tolist()
movie_popularity["combined_tuple"]=movie_popularity["combined"].apply(lambda x: tuple(x))
Recommender_Graph_v2.add_edges_from(list(movie_popularity["combined_tuple"]),weight = 4)
nx.write_gpickle(Recommender_Graph_v2, "Recommender_graph_year+genre+prod_country+pop.gpickle")

In [39]:
print(Recommender_Graph_v2.number_of_nodes())
print(Recommender_Graph_v2.number_of_edges())

10045
1023326

In [47]:
production_companies = movie_v2[["movieId","production_companies"]].copy()
production_companies.shape
production_companies.dropna(axis=0,inplace=True)
production_companies["without_string"] = production_companies["production_companies"].apply(lambda x: eval(x))
production_companies["without_string"].isna().sum()

0

In [49]:
production_companies = production_companies.explode(column = "without_string",ignore_index=False)
production_companies.dropna(axis=0,inplace=True)

In [55]:
production_companies.reset_index(inplace=True)

In [61]:
production_companies["production_companies_name"] = production_companies["without_string"].apply(lambda x: x["name"])

In [63]:
production_companies = production_companies[["movieId","production_Companies_name"]]

In [65]:
production_companies["production_Companies_name"] = production_companies["production_Companies_name"] + "$$production_companies"

<ipython-input-65-69bc5ba18c61>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  production_companies["production_Companies_name"] = production_companies["production_Companies_name"] + "$$production_companies"

In [67]:
print(Recommender_Graph_v2.number_of_nodes())
print(Recommender_Graph_v2.number_of_edges())

10045
1023326

In [68]:
production_companies['combined']= production_companies.values.tolist()
production_companies["combined_tuple"]=production_companies["combined"].apply(lambda x: tuple(x))
Recommender_Graph_v2.add_edges_from(list(production_companies["combined_tuple"]),weight = 4)
nx.write_gpickle(Recommender_Graph_v2, "Recommender_graph_year+genre+prod_country+pop.gpickle")

<ipython-input-68-7140033c927d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  production_companies['combined']= production_companies.values.tolist()
<ipython-input-68-7140033c927d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  production_companies["combined_tuple"]=production_companies["combined"].apply(lambda x: tuple(x))

In [69]:
print(Recommender_Graph_v2.number_of_nodes())
print(Recommender_Graph_v2.number_of_edges())
#only about 3k increase in no of nodes is similar to the no of movies out there (there are about 3k Dis5tinct production company nodes)

13007
1031520

In [70]:
production_companies["production_Companies_name"].nunique()  #no of nodes match the increase in the no of nodes in the graph

2962

In [72]:
movie_v2[["release_date","year"]].head(2)  #release date and year look the same so not using release date

  release_date  year
0   1995-10-30  1995
1   1995-11-16  1995

In [78]:
movie_runtime = movie_v2[["runtime","movieId"]].copy()
movie_runtime["runtime"] = movie_runtime["runtime"].astype(str)
movie_runtime["runtime"] = movie_runtime["runtime"]+"$$runtime"

In [79]:
print(Recommender_Graph_v2.number_of_nodes())
print(Recommender_Graph_v2.number_of_edges())

13007
1031520

In [80]:
movie_runtime['combined']= movie_runtime.values.tolist()
movie_runtime["combined_tuple"]=movie_runtime["combined"].apply(lambda x: tuple(x))
Recommender_Graph_v2.add_edges_from(list(movie_runtime["combined_tuple"]),weight = 4)
nx.write_gpickle(Recommender_Graph_v2, "Recommender_graph_year+genre+prod_country+pop+runtime+prod_comp.gpickle")

In [81]:
print(Recommender_Graph_v2.number_of_nodes())
print(Recommender_Graph_v2.number_of_edges())

13170
1035205

In [10]:
#spoken languages as a node
movie_spoken_languages = movie_v2[["movieId","spoken_languages"]]

In [11]:
movie_spoken_languages["spoken_languages"]

0       [{'english_name': 'English', 'iso_639_1': 'en'...
1       [{'english_name': 'English', 'iso_639_1': 'en'...
2       [{'english_name': 'English', 'iso_639_1': 'en'...
3       [{'english_name': 'Spanish', 'iso_639_1': 'es'...
4                                                      []
                              ...
3680    [{'english_name': 'English', 'iso_639_1': 'en'...
3681    [{'english_name': 'English', 'iso_639_1': 'en'...
3682    [{'english_name': 'English', 'iso_639_1': 'en'...
3683    [{'english_name': 'English', 'iso_639_1': 'en'...
3684    [{'english_name': 'English', 'iso_639_1': 'en'...
Name: spoken_languages, Length: 3685, dtype: object

In [12]:
movie_spoken_languages = movie_v2[["movieId","spoken_languages"]].copy()
print(movie_spoken_languages.shape)
movie_spoken_languages.dropna(axis=0,inplace=True)
movie_spoken_languages["without_string"] = movie_spoken_languages["spoken_languages"].apply(lambda x: eval(x))
movie_spoken_languages["without_string"].isna().sum()

(3685, 2)

0

In [13]:
movie_spoken_languages.head(2)

,movieId,spoken_languages,without_string
0,1,"[{'english_name': 'English', 'iso_639_1': 'en'...","[{'english_name': 'English', 'iso_639_1': 'en'..."
1,10,"[{'english_name': 'English', 'iso_639_1': 'en'...","[{'english_name': 'English', 'iso_639_1': 'en'..."

In [14]:
movie_spoken_languages = movie_spoken_languages.explode(column = "without_string",ignore_index=False).reset_index()

In [15]:
print(movie_spoken_languages.shape)
movie_spoken_languages.dropna(axis=0,subset=["without_string"],inplace=True)
print(movie_spoken_languages.shape)

(5154, 4)
(5094, 4)

In [16]:
movie_spoken_languages["spoken_language_final"] = movie_spoken_languages["without_string"].apply(lambda x: x["english_name"])

In [17]:
movie_spoken_languages.head(2)

,index,movieId,spoken_languages,without_string,spoken_language_final
0,0,1,"[{'english_name': 'English', 'iso_639_1': 'en'...","{'english_name': 'English', 'iso_639_1': 'en',...",English
1,1,10,"[{'english_name': 'English', 'iso_639_1': 'en'...","{'english_name': 'English', 'iso_639_1': 'en',...",English

In [21]:
movie_spoken_languages["movieId"] = movie_spoken_languages["movieId"].astype(str)
movie_spoken_languages["movieId"] = movie_spoken_languages["movieId"] +"$$m"

In [22]:
movie_spoken_languages["spoken_language_final"] = movie_spoken_languages["spoken_language_final"] + "$$spoken_language"

In [23]:
movie_spoken_languages.head(2)

,index,movieId,spoken_languages,without_string,spoken_language_final
0,0,1$$m,"[{'english_name': 'English', 'iso_639_1': 'en'...","{'english_name': 'English', 'iso_639_1': 'en',...",English$$spoken_language
1,1,10$$m,"[{'english_name': 'English', 'iso_639_1': 'en'...","{'english_name': 'English', 'iso_639_1': 'en',...",English$$spoken_language

In [111]:
print(Recommender_Graph_v2.number_of_nodes())
print(Recommender_Graph_v2.number_of_edges())

13170
1035205

In [24]:
movie_spoken_languages = movie_spoken_languages[["movieId","spoken_language_final"]].copy()

movie_spoken_languages['combined']= movie_spoken_languages.values.tolist()

In [26]:
movie_spoken_languages["combined_tuple"]=movie_spoken_languages["combined"].apply(lambda x: tuple(x))
Recommender_Graph_v2.add_edges_from(list(movie_spoken_languages["combined_tuple"]),weight = 4)
nx.write_gpickle(Recommender_Graph_v2, "Recommender_graph_year+genre+prod_country+pop+runtime+prod_comp+spoken_lang.gpickle")

In [27]:
print(Recommender_Graph_v2.number_of_nodes())
print(Recommender_Graph_v2.number_of_edges())

13252
1040299

In [28]:
#check
movie_spoken_languages["spoken_language_final"].nunique()

82

In [ ]:
#user related attributes remaining and movie related only vote count and average is not used

In [4]:
Recommender_Graph_v2 = nx.read_gpickle("Recommender_graph_year+genre+prod_country+pop+runtime+prod_comp+spoken_lang.gpickle")

In [6]:
Recommender_Graph_v2.has_node("English$$spoken_language")

True

In [20]:
movie_v2.info()
#NOTES ON Movie Based Nodes
#based on eda remove the following columns
#9 adult - NO (because no movie is adult)
#10 backdrop_path - NO
#11 belongs_to_collection ,14 homepage  - NO (v less info available)
#genres.1 - NO (same info as genres)
#24 release date is not used because maybe the year includes that effect
#OVERVIEW is not used in the recommender graph

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3685 entries, 0 to 3684
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   movieId                3685 non-null   int64
 1   title                  3685 non-null   object
 2   genres                 3685 non-null   object
 3   year                   3685 non-null   int64
 4   meta_data              3685 non-null   object
 5   distinct_user_Count    3685 non-null   int64
 6   count_of_ratings       3685 non-null   int64
 7   sum_ratings            3685 non-null   int64
 8   average_rating         3685 non-null   float64
 9   adult                  3666 non-null   object
 10  backdrop_path          3405 non-null   object
 11  belongs_to_collection  708 non-null    object
 12  budget                 3666 non-null   float64
 13  genres.1               3666 non-null   object
 14  homepage               323 non-null    object
 15  id                     3666 non-null   float64
 16  imdb_id                3666 non-null   object
 17  original_language      3666 non-null   object
 18  original_title         3666 non-null   object
 19  overview               3661 non-null   object
 20  popularity             3666 non-null   float64
 21  poster_path            3630 non-null   object
 22  production_companies   3666 non-null   object
 23  production_countries   3666 non-null   object
 24  release_date           3666 non-null   object
 25  revenue                3666 non-null   float64
 26  runtime                3664 non-null   float64
 27  spoken_languages       3666 non-null   object
 28  status                 3666 non-null   object
 29  tagline                3024 non-null   object
 30  title.1                3666 non-null   object
 31  video                  3666 non-null   object
 32  vote_average           3666 non-null   float64
 33  vote_count             3666 non-null   float64
dtypes: float64(8), int64(5), object(21)
memory usage: 979.0+ KB

In [ ]:
#Adding user Database nodes

In [19]:
users = pd.read_csv("mv-1m_user_rf.csv")

In [14]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   userId      6040 non-null   int64
 1   gender      6040 non-null   object
 2   age         6040 non-null   int64
 3   occupation  6040 non-null   object
 4   zipcode     6040 non-null   object
dtypes: int64(2), object(3)
memory usage: 236.1+ KB

In [15]:
users["userId"] =users["userId"].astype(str)
users["userId"] = users["userId"] +"$$u"
users.to_csv('user_modified_$$u.csv',index=False)

In [16]:
users["userId"] =users["userId"].astype(str)
users["userId"] = users["userId"] +"$$u"
users.to_csv('user_modified_$$u.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   userId      6040 non-null   object
 1   gender      6040 non-null   object
 2   age         6040 non-null   int64
 3   occupation  6040 non-null   object
 4   zipcode     6040 non-null   object
dtypes: int64(1), object(4)
memory usage: 236.1+ KB

In [19]:
users["age"] =users["age"].astype(str)
users["age"] = users["age"] +"$$age_user"

In [23]:
users["occupation"] = users["occupation"] +"$$occupation"

In [26]:
users["zipcode"] =users["zipcode"].astype(str)
users["zipcode"] = users["zipcode"] +"$$Zip_code_user"

In [28]:
users["gender"] = users["gender"] +"$$gender"

In [ ]:
#making user_features related nodes

In [37]:
users_1 = users[["userId","gender"]].copy()
users_1['combined']= users_1.values.tolist()
users_1["combined_tuple"]=users_1["combined"].apply(lambda x: tuple(x))
Recommender_Graph_v2.add_edges_from(list(users_1["combined_tuple"]),weight = 4)

In [34]:
Recommender_Graph_v2.number_of_nodes()

13254

In [38]:
nx.write_gpickle(Recommender_Graph_v2, "Recommender_graph_year+genre+prod_country+pop+runtime+prod_comp+spoken_lang+gender.gpickle")

In [39]:
Recommender_Graph_v2.number_of_nodes()

13254

In [40]:
users_1 = users[["userId","zipcode"]].copy()
users_1['combined']= users_1.values.tolist()
users_1["combined_tuple"]=users_1["combined"].apply(lambda x: tuple(x))
Recommender_Graph_v2.add_edges_from(list(users_1["combined_tuple"]),weight = 4)




users_1 = users[["userId","age"]].copy()
users_1['combined']= users_1.values.tolist()
users_1["combined_tuple"]=users_1["combined"].apply(lambda x: tuple(x))
Recommender_Graph_v2.add_edges_from(list(users_1["combined_tuple"]),weight = 4)

users_1 = users[["userId","occupation"]].copy()
users_1['combined']= users_1.values.tolist()
users_1["combined_tuple"]=users_1["combined"].apply(lambda x: tuple(x))
Recommender_Graph_v2.add_edges_from(list(users_1["combined_tuple"]),weight = 4)

In [41]:
Recommender_Graph_v2.number_of_nodes()

16721

In [42]:
users.head(2)

,userId,gender,age,occupation,zipcode
0,1$$u,F$$gender,1$$age_user,K-12 student$$occupation,48067$$Zip_code_user
1,2$$u,M$$gender,56$$age_user,self-employed$$occupation,70072$$Zip_code_user

In [44]:
13254 + users["age"].nunique()  + users["occupation"].nunique() +  users["zipcode"].nunique()

16721

In [ ]:
#reco'd

In [45]:
nx.write_gpickle(Recommender_Graph_v2, "Recommender_graph_year+genre+prod_country+pop+runtime+prod_comp+spoken_lang+gender+user_features.gpickle")

In [5]:
Recommender_Graph_v2 = nx.read_gpickle("Recommender_graph_year+genre+prod_country+pop+runtime+prod_comp+spoken_lang+gender+user_features.gpickle")

In [6]:
Recommender_Graph_v2.number_of_nodes()

16721

In [7]:
# break of complete graph into training and test graph
import copy

In [8]:
#use deepcopy instead of just copy (just copy does not copies graph correctly)
Train_Graph = copy.deepcopy(Recommender_Graph_v2)

In [9]:
Train_Graph.has_edge("1$$u","2762$$m")

True

## Training the Knowledge Graph primarily by Page Rank Algorithm

In [10]:
print(Recommender_Graph_v2.number_of_nodes())

16721

In [11]:
print(Train_Graph.number_of_nodes())

16721

In [12]:
print(Recommender_Graph_v2.number_of_edges())

1064459

In [13]:
test_indices = pd.read_csv("Test_indices.csv")

In [14]:
#in the 5th coloumn there is an NA value
test_indices.head(4)

    0  1   2   3     4
0   2  0   8  13   7.0
1   5  1  15  25  10.0
2  23  3  17  58  11.0
3  30  4  20  59  12.0

In [15]:
user_movie_test = ratings.iloc[test_indices["0"]][["userId","movieId"]] #change the indices to 0,1,2,3,4 (to have the set for test dataset)

In [16]:
user_movie_test[["userId","movieId"]] = user_movie_test[['userId', 'movieId']].astype(str)

In [17]:
user_movie_test["userId"] = user_movie_test["userId"]+"$$u"  #u subscript for user
user_movie_test["movieId"] = user_movie_test["movieId"]+"$$m"  #u subscript for user

In [18]:
user_movie_test['combined']= user_movie_test.values.tolist()

In [19]:
user_movie_test["combined_tuple"]=user_movie_test["combined"].apply(lambda x: tuple(x))

In [106]:
#just an example
#e = ("1$$u","2762$$m")
#Train_Graph.remove_edge(e)

In [20]:
#removing the test indiced user and movie id edges from the Complete Knowledge Graphs
Train_Graph.remove_edges_from(list(user_movie_test["combined_tuple"]))

In [21]:
user_movie_test.shape

(200042, 4)

In [22]:
print(Train_Graph.number_of_edges())

864417

In [118]:
1064459 - 200042

864417

In [120]:
nx.write_gpickle(Train_Graph, "Train_Graph.gpickle")

In [ ]:
#weights avry karne hai , personalize karna hai leakage is not happening

In [55]:
print(Train_Graph.number_of_edges())

1064477

In [ ]:
graph - weights =4

In [ ]:
defining user

In [5]:
#the graph that we are using is an undirected graph
Train_Graph = nx.read_gpickle("Train_Graph.gpickle")

In [6]:
Recommender_Graph_v2 = nx.read_gpickle("Recommender_graph_year+genre+prod_country+pop+runtime+prod_comp+spoken_lang+gender+user_features.gpickle")

In [23]:
#tol = 1e-8 gives the no of iterations that took in the page rank algorithm (specifically adjacency matrix algorithm)
#pr = nx.pagerank(Train_Graph,alpha=.85,max_iter=6,tol=1e-5) -20.76
pr = nx.pagerank(Train_Graph,alpha=.85,max_iter=5,tol=1e-5)

In [ ]:
#average rating (calculated from train data) - new user rating> then user liked the movie -

In [53]:
#personalization feature of pagerank function actually controls the landing spot

In [ ]:
#multiprocessing check

In [ ]:
output

In [7]:
pr = nx.pagerank(Train_Graph,personalization={'1$$u':1})
#sorting the nodes in descending order
Top_n_nodes = sorted(pr,key =pr.get, reverse=True)
#removing nan nodes
Top_n_nodes_2 = [x for x in Top_n_nodes if not (type(x)==float)]
#selecting top 10 movies
substr = "$$m"
selections = [x for x in Top_n_nodes_2 if substr in x][:10]

In [8]:
selections

['260$$m',
 '2028$$m',
 '608$$m',
 '1$$m',
 '527$$m',
 '1197$$m',
 '1097$$m',
 '2355$$m',
 '3114$$m',
 '919$$m']

In [39]:
#so the idea 1st first we will shortlist no of movies in the validation dataset does the user likes (by subtracting the average movie rating in the training dataset) and then accordingly pick the top x no of movies from the ranked list and then check the recall or precision @K
#finding average user rating
ratings.head(1)

,userId,movieId,rating,title,genres,year,meta_data,gender,age,occupation,zipcode
0,1,1,5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,"{'adult': False, 'backdrop_path': '/3Rfvhy1Nl6...",F,1,K-12 student,48067

In [24]:
ratings[["userId","movieId"]] = ratings[["userId","movieId"]].astype(str)

In [25]:
ratings["userId"] = ratings["userId"] +"$$u"
ratings["movieId"] = ratings["movieId"] +"$$m"

In [26]:
ratings = ratings[["userId","movieId","rating"]]

In [27]:
Train_Data = pd.read_csv("Train_indices.csv")

In [28]:
Train_Data.head(2)

     0    1    2    3    4
0  0.0  2.0  0.0  0.0  0.0
1  1.0  5.0  1.0  1.0  1.0

In [29]:
#selecting the first train dataset
#we can change the train dataset by changing 0 in the below code
train_data = ratings.iloc[Train_Data["0"].dropna()]

In [30]:
average_rating_users = train_data.groupby('userId').agg({"rating": "mean"})

In [31]:
average_rating_users.rename(columns = {'rating':'avg_rating'}, inplace = True)

In [32]:
average_rating_users.head(2)

        avg_rating
userId
1$$u      4.148936
10$$u     4.125402

In [33]:
train_data_avg_rating = train_data.merge(average_rating_users,left_on=["userId"],right_on=["userId"],how="left")

In [34]:
print(train_data_avg_rating.shape)
print(train_data.shape)
#merge is correct

(800167, 4)
(800167, 3)

In [35]:
train_data_avg_rating.head(2)

  userId  movieId  rating  avg_rating
0   1$$u     1$$m       5    4.148936
1   1$$u  2692$$m       4    4.148936

In [36]:
def flag (rating,avg_rating):
    if (rating>=avg_rating):
        return 1
    else:
        return 0

In [37]:
train_data_avg_rating["Flag"] = train_data_avg_rating.apply(lambda x: flag(x["rating"], x["avg_rating"]), axis=1)

In [38]:
train_data_avg_rating.shape

(800167, 5)

In [39]:
Test_Data = pd.read_csv("Test_indices.csv")

In [40]:
Validation_Dataset = ratings.iloc[Test_Data["0"].dropna()]

In [41]:
Validation_data_avg_rating = Validation_Dataset.merge(average_rating_users,left_on=["userId"],right_on=["userId"],how="left")

In [42]:
#actually taking the training dataset and calculating the average rating from that
print(Validation_data_avg_rating.shape)
print(Validation_Dataset.shape)

(200042, 4)
(200042, 3)

In [43]:
Validation_data_avg_rating["Flag"] = Validation_data_avg_rating.apply(lambda x: flag(x["rating"], x["avg_rating"]), axis=1)

In [44]:
Validation_liked_train0 = Validation_data_avg_rating[Validation_data_avg_rating["Flag"]==1]

In [45]:
#approximately 50%
Validation_liked_train0.shape

(109114, 5)

In [46]:
user_liked_movie_test = Validation_liked_train0.groupby("userId")["movieId"].nunique()

In [47]:
user_liked_movie_test0 = user_liked_movie_test.copy()

In [48]:
user_liked_movie_test0.to_csv('user_liked_movie_test0.csv',index=True)

In [49]:
user_liked_movie_test0_v2 = user_liked_movie_test0.reset_index()

In [50]:
user_list = list(user_liked_movie_test0_v2["userId"])

In [51]:
len(user_list)

5957

In [52]:
Validation_liked_train0.head(2)

  userId  movieId  rating  avg_rating  Flag
1   1$$u  2804$$m       5    4.148936     1
3   1$$u  1029$$m       5    4.148936     1

In [ ]:
#multi processing & multi threading
#5 page ranks in parallel
#random walks
#deadlocks
#concating + into one result
#MVP
#PAGE_rANK_scipy

In [ ]:
#the below code is taking more than necessary time even for 1 iteration it is taking more than 6 min (on the contrary only one iteration takes about 20 sec to complete)
#I think it is going in an infinite loop

import multiprocessing
from multiprocessing import Pool
def page_rank_optimize(a):
    return a**2
    #return nx.pagerank(Train_Graph,alpha,max_iter,tol)

if __name__ == '__main__':
    # Create a multiprocessing pool with four processes
    pool = multiprocessing.Pool(1)
    #alpha=.85
    #max_iter=5
    #tol=1e-5
    print(page_rank_optimize(10))
    results = pool.map(page_rank_optimize, [10])
    pool.close()
    print(results)

100

In [ ]:
import multiprocessing

def square(x):
    return x**2

if __name__ == '__main__':
    pool = multiprocessing.Pool(2)
    results = pool.starmap(square, ([5],[6]))
    print(results)

In [7]:
import multiprocessing
num_cores = multiprocessing.cpu_count()
print(num_cores)

8

In [7]:
nx.pagerank(Train_Graph,alpha=.85,max_iter=5,tol=1e-5)

{'1$$u': 3.4211007789463886e-05,
 '1$$m': 0.0006310607821673088,
 '2692$$m': 0.00034334851202170487,
 '2762$$m': 0.0007834973626240149,
 '2791$$m': 0.0005072742387191645,
 '2797$$m': 0.0004284565401513623,
 '2804$$m': 0.00040370282931101226,
 '2918$$m': 0.0004169106271656689,
 '3105$$m': 0.00021059737492317828,
 '3114$$m': 0.0005125441325315626,
 '3186$$m': 0.00015535140320072178,
 '3408$$m': 0.0004262083115462942,
 '48$$m': 0.000129905437470707,
 '527$$m': 0.0007340356269689099,
 '531$$m': 0.0001112522735031565,
 '588$$m': 0.0003921588635750235,
 '594$$m': 0.00023474658572970856,
 '595$$m': 0.000325261140843412,
 '608$$m': 0.000767088425546403,
 '661$$m': 0.0001758181035404566,
 '720$$m': 0.00013638645789794342,
 '745$$m': 0.00021670881980868743,
 '783$$m': 0.00012769508933011263,
 '919$$m': 0.0005187336040888838,
 '938$$m': 7.65847278909508e-05,
 '2687$$m': 0.00016426594325856167,
 '260$$m': 0.0009223783811642469,
 '914$$m': 0.00019448166221542533,
 '2355$$m': 0.0005342055752213466,
 '2398$$m': 0.00011771998471109951,
 '1022$$m': 0.0001798322865102118,
 '1029$$m': 0.0001753255027427478,
 '1035$$m': 0.00028825111707509056,
 '1097$$m': 0.000671003639982375,
 '1193$$m': 0.000560182412091401,
 '1197$$m': 0.0007035204965505483,
 '1207$$m': 0.0002983560356531273,
 '1246$$m': 0.00023969595321948308,
 '1270$$m': 0.0007995623502967438,
 '1287$$m': 0.00021996967204786441,
 '150$$m': 0.00036998379572393715,
 '1028$$m': 0.0003015006646800952,
 '1566$$m': 0.00016134423804296013,
 '1545$$m': 5.400386076317417e-05,
 '2321$$m': 0.00034232954097572775,
 '2294$$m': 0.0002069056777056403,
 '2028$$m': 0.0008456213691467275,
 '2018$$m': 0.00018809475969820122,
 '2340$$m': 0.0001211430259346505,
 '1961$$m': 0.0004168149645800663,
 '1907$$m': 0.00016875737820578568,
 '1836$$m': 6.449487534051788e-05,
 '1721$$m': 0.0005072814428372667,
 '1962$$m': 0.00019207074335433633,
 '10$$u': 0.00013183531565165874,
 '3066$$m': 7.253146767371132e-05,
 '3100$$m': 0.00018083183602845976,
 '3099$$m': 9.897041000828936e-05,
 '3097$$m': 8.201669669781208e-05,
 '3095$$m': 0.00017741624378531665,
 '3087$$m': 0.00014776963655076022,
 '3086$$m': 5.136158708044202e-05,
 '3072$$m': 0.00030620517420417397,
 '3108$$m': 0.0002575278778708891,
 '2997$$m': 0.0007104099892543264,
 '3037$$m': 0.00019939817537136626,
 '3035$$m': 0.00014555475193229136,
 '3034$$m': 0.00011749978671201236,
 '2968$$m': 0.0002943386040994469,
 '2967$$m': 5.527737163292799e-05,
 '2959$$m': 0.0004593917939411732,
 '2948$$m': 0.00025315775795908536,
 '2946$$m': 0.00010468017207748808,
 '3153$$m': 9.670464945128899e-05,
 '292$$m': 0.00021261256955556104,
 '3039$$m': 0.00023234686359088148,
 '3155$$m': 0.00013445312801507625,
 '3255$$m': 0.0003114827228170687,
 '317$$m': 0.00020063053372509841,
 '3363$$m': 0.00029792415503180085,
 '3359$$m': 0.00016409686976096683,
 '3358$$m': 0.00013572294819631334,
 '3347$$m': 7.790323087945563e-05,
 '333$$m': 0.00012045443282999505,
 '3309$$m': 5.556233686767776e-05,
 '3296$$m': 8.053715131561738e-05,
 '329$$m': 0.0002815311949480049,
 '3264$$m': 0.00016141182004454074,
 '3259$$m': 0.0001254323085811095,
 '3254$$m': 0.00012790742994918473,
 '3252$$m': 0.0001713519760887881,
 '3247$$m': 0.00018846685593827095,
 '32$$m': 0.00045282924963825513,
 '3198$$m': 0.00012742532036881966,
 '3194$$m': 8.832236841677808e-05,
 '3189$$m': 0.0001153478873068518,
 '318$$m': 0.0006804622107832044,
 '3175$$m': 0.0005381713353297475,
 '3174$$m': 0.0002811763015963245,
 '316$$m': 0.0003301162879495957,
 '2874$$m': 4.087393913890142e-05,
 '2530$$m': 0.00011451592247321321,
 '2863$$m': 0.0001849252465560625,
 '2529$$m': 0.0003495216690944466,
 '2501$$m': 0.00018591892420355307,
 '2498$$m': 5.343488180438809e-05,
 '2497$$m': 8.116195193955101e-05,
 '2496$$m': 0.00013145635778185764,
 '248$$m': 5.4182628639136234e-05,
 '2470$$m': 0.00025926442002336113,
 '2453$$m': 7.881300973637316e-05,
 '2436$$m': 9.08365620007086e-05,
 '2431$$m': 0.00016788597714520798,
 '2424$$m': 0.00024434222289364054,
 '2423$$m': 0.00016128814653607553,
 '2407$$m': 0.00027752912802670614,
 '2405$$m': 0.00020373665580404596,
 '24$$m': 0.0001955021757926709,
 '2399$$m': 0.00010846144341160275,
 '2396$$m': 0.000736024996286538,
 '2393$$m': 0.00023417728472910538,
 '2378$$m': 0.0001273565166975216,
 '2375$$m': 0.0001256857212502931,
 '253$$m': 0.0002216020144274555,
 '3386$$m': 0.00024303538460051315,
 '2571$$m': 0.0007879878041900777,
 '2599$$m': 0.0004818967383091716,
 '2858$$m': 0.0011182609911453653,
 '2826$$m': 0.00024749846435102076,
 '282$$m': 7.333810097127803e-05,
 '2795$$m': 0.00016143320397828695,
 '2770$$m': 0.00028551909943352167,
 '277$$m': 6.441994829521185e-05,
 '2872$$m': 0.00021740310237330842,
 '275$$m': 3.952540248246721e-05,
 '2717$$m': 0.00016248925983024107,
 '2716$$m': 0.0006718476727795085,
 '2693$$m': 7.525316866166297e-05,
 '2662$$m': 0.0001772754588655023,
 '2657$$m': 0.0003719590235156308,
 '2640$$m': 0.00034999847113533004,
 '2628$$m': 0.0006904341658924314,
 '2622$$m': 0.0001432438282588876,
 '2617$$m': 0.0002906373308622628,
 '2746$$m': 0.00026888776643998785,
 '3388$$m': 0.00010140223432131801,
 '3675$$m': 9.537713228132702e-05,
 '802$$m': 0.00012940252625910544,
 '784$$m': 0.00011926334584652144,
 '780$$m': 0.0004955367507148322,
 '765$$m': 6.958725969117556e-05,
 '750$$m': 0.000400774166539678,
 '743$$m': 4.7765473131233425e-05,
 '7$$m': 0.0001688747952711547,
 '671$$m': 0.00015250305228927202,
 '653$$m': 0.00017773387179024415,
 '648$$m': 0.000453661137489017,
 '62$$m': 0.00018232736664224592,
 '597$$m': 0.00029107130239153396,
 '596$$m': 0.0001634504738857289,
 '592$$m': 0.00040015577798457175,
 '590$$m': 0.0004368063800826099,
 '589$$m': 0.000827086180348026,
 '830$$m': 9.50429526753944e-05,
 '587$$m': 0.0003158410768268484,
 '858$$m': 0.0007172573458601378,
 '899$$m': 0.0002387966634316531,
 '971$$m': 0.00010156695361618464,
 '969$$m': 0.0003560245626120052,
 '963$$m': 3.596304720972837e-05,
 '954$$m': 0.00011461445166032219,
 '953$$m': 0.00022605435664101823,
 '943$$m': 7.225724065605494e-05,
 '932$$m': 8.83894998463899e-05,
 '926$$m': 0.00013566114479245624,
 '924$$m': 0.0005226527805958337,
 '923$$m': 0.0003379694652007529,
 '920$$m': 0.00037284954404995463,
 '918$$m': 8.08160841912902e-05,
 '916$$m': 0.00014105277838335275,
 '915$$m': 0.00012061073820008201,
 '913$$m': 0.00032944225764967893,
 '912$$m': 0.0005193729869068491,
 '904$$m': 0.000325325141929852,
 '902$$m': 0.00022721057429612952,
 '898$$m': 0.00018301604911107454,
 '586$$m': 0.00019303247388348661,
 '551$$m': 0.00031430608205256356,
 '543$$m': 0.00019478067284388329,
 '3668$$m': 0.00013863577134981534,
 '364$$m': 0.00033384004418997965,
 '3629$$m': 0.00010644693524808746,
 '3608$$m': 0.00024848273143015766,
 '3593$$m': 0.00015154538426685006,
 '3591$$m': 0.00019609883452209034,
 '357$$m': 0.00036048815372602655,
 '356$$m': 0.0006662355800252231,
 '3525$$m': 0.00013236719888021206,
 '351$$m': 9.239356326751096e-05,
 '3501$$m': 9.327955899715627e-05,
 '3500$$m': 6.082082809318069e-05,
 '3489$$m': 0.00020781599857592296,
 '3481$$m': 0.0004420468500891274,
 '3471$$m': 0.0004315087284184806,
 '3466$$m': 8.835284546031172e-05,
 '3451$$m': 0.00011234753984807113,
 '3447$$m': 3.936733280262439e-05,
 '344$$m': 0.0002321955279929462,
 '3439$$m': 9.317380217273486e-05,
 '3438$$m': 0.0001643393845244057,
 '367$$m': 0.0003380462707212603,
 '3671$$m': 0.00033203562510900736,
 '2371$$m': 0.00017025736850593748,
 '368$$m': 0.00022979930062459638,
 '542$$m': 7.454931546519884e-05,
 '541$$m': 0.0005504361024898517,
 '539$$m': 0.0002830104589091542,
 '520$$m': 0.00011892862837622831,
 '480$$m': 0.0008169640985974333,
 '435$$m': 0.00015624477867535352,
 '3948$$m': 0.0002890079299292279,
 '3928$$m': 8.948528698415739e-05,
 '3869$$m': 0.00013361441835341333,
 '339$$m': 0.00018926035685549612,
 '3868$$m': 0.00021257328784370845,
 '3809$$m': 0.00024181852310128083,
 '3751$$m': 0.0004296089534557945,
 '3723$$m': 0.00012381121430542303,
 '3704$$m': 0.00020993554979340345,
 '3703$$m': 0.000306332642146598,
 '3702$$m': 0.0003298035710019958,
 '3701$$m': 0.00015572492544312148,
 '370$$m': 0.00012867713777346454,
 '3699$$m': 0.00026242340082102786,
 '3688$$m': 0.00011612859396639263,
 '3812$$m': 9.653567006726449e-05,
 '2324$$m': 0.00037894996597149974,
 '1283$$m': 0.0001284033719162115,
 '1282$$m': 0.00027849899168996096,
 '1278$$m': 0.0003718608943533061,
 '1276$$m': 0.00028258354860872636,
 '1271$$m': 0.0001956177936540543,
 '1269$$m': 0.00021350271930736794,
 '1265$$m': 0.0006746337205885106,
 '1259$$m': 0.0005280946641309639,
 '1257$$m': 0.00014491276359848587,
 '1256$$m': 0.00019277984669839075,
 '1254$$m': 0.00015557130936787278,
 '1253$$m': 0.00016969323322760406,
 '1252$$m': 0.00039261886660415206,
 '1250$$m': 0.000300268722937084,
 '1247$$m': 0.00038485993239480875,
 '1243$$m': 0.00011883595334264094,
 '1240$$m': 0.0006218228829247298,
 '1234$$m': 0.00029904511918812476,
 '1233$$m': 0.00034410878876117024,
 '1230$$m': 0.00041514632364057763,
 '1286$$m': 9.551648450855385e-05,
 '1225$$m': 0.00041965209840010004,
 '1292$$m': 0.00021323400262136108,
 '1411$$m': 0.0001355895195984856,
 '1409$$m': 0.00013227405513080957,
 '1408$$m': 0.0002911814371891267,
 '1394$$m': 0.00040493583908637334,
 '1387$$m': 0.0005017008664092075,
 '1380$$m': 0.0002449170309503171,
 '1377$$m': 0.0002877917513662852,
 '1376$$m': 0.00031766930983066196,
 '1375$$m': 0.00025700348047965493,
 '1374$$m': 0.0004155949177034687,
 '1372$$m': 0.0002859892279753894,
 '1371$$m': 0.00022349457853376362,
 '1357$$m': 0.00017931327173898806,
 '1356$$m': 0.000374513350316732,
 '1345$$m': 0.00017313068427678093,
 '1339$$m': 0.00022183073541856126,
 '1307$$m': 0.00045255085356550004,
 '1304$$m': 0.00045264057914256087,
 '1302$$m': 0.00022335201698944307,
 '1294$$m': 0.00031354902606894457,
 '1293$$m': 0.00022069034484864655,
 '1291$$m': 0.00045928249550792406,
 '1223$$m': 0.00016755496959987247,
 '1221$$m': 0.0005335078552146126,
 '1220$$m': 0.00037291693276814565,
 '1079$$m': 0.00039061842299998163,
 '1073$$m': 0.0003851990590417885,
 '1059$$m': 0.00015405797326368786,
 '1042$$m': 0.0001659647842012993,
 '104$$m': 0.0001989762519444286,
 '1032$$m': 0.0001667030039418143,
 '1031$$m': 0.00010111317062072377,
 '1030$$m': 0.00010349621081397306,
 '1025$$m': 9.873424000039207e-05,
 '1023$$m': 8.171620131990907e-05,
 '1020$$m': 0.00012156864471149811,
 '1019$$m': 0.0001780872076616374,
 '1016$$m': 5.9958262965250484e-05,
 '1015$$m': 8.800414927518232e-05,
 '1012$$m': 0.00010149365597564776,
 '1009$$m': 9.240498216412018e-05,
 '2336$$m': 0.0002926644018502271,
 '1080$$m': 0.0002679949262984733,
 '1084$$m': 0.00021198784895332177,
 '1088$$m': 0.00021818726432373727,
 '1091$$m': 0.00011368636661268942,
 '1215$$m': 0.0002926456874169672,
 '1214$$m': 0.0006003322875372479,
 '1210$$m': 0.0009040771859815809,
 '1204$$m': 0.0002682845241163588,
 '1203$$m': 0.0002090836022853422,
 '1201$$m': 0.000266619454801836,
 '1200$$m': 0.0005327720901297417,
 '1198$$m': 0.0007837085013254296,
 '1196$$m': 0.000895844170402797,
 '1441$$m': 0.00014637756824522382,
 '116$$m': 3.65391343008411e-05,
 '1136$$m': 0.0004811944707788438,
 '1135$$m': 0.00011468464525959096,
 '1129$$m': 0.0002715266219323677,
 '1127$$m': 0.0005270481501637872,
 '1125$$m': 0.00013842078568791733,
 '1124$$m': 0.0001224963349644698,
 '1104$$m': 0.00016026061097644182,
 '1101$$m': 0.00027325552924089755,
 '110$$m': 0.0007840354988418672,
 '1148$$m': 0.00028576530566096784,
 '1320$$m': 0.00026593947747542896,
 '1517$$m': 0.00034118004216220966,
 '2096$$m': 0.00016771164892765802,
 '2094$$m': 0.00021382580408797403,
 '2093$$m': 0.00010376911504885784,
 '2091$$m': 6.563900844108588e-05,
 '2090$$m': 8.957623040245879e-05,
 '2087$$m': 0.00018353891564822208,
 '1513$$m': 0.00022569597081182659,
 '2081$$m': 0.00030561499098979517,
 '2080$$m': 0.00025923104720987177,
 '208$$m': 0.00018921442122060006,
 '2078$$m': 0.000202748587565075,
 '2077$$m': 6.403969103407123e-05,
 '2072$$m': 9.828066898628537e-05,
 '2067$$m': 0.000189892789923923,
 '2054$$m': 0.0002973849252653908,
 '2049$$m': 3.354828573367001e-05,
 '2047$$m': 3.196975118553958e-05,
 '2046$$m': 0.00018282847905810265,
 '2045$$m': 3.9709393247626705e-05,
 '2043$$m': 6.479362419028708e-05,
 '2041$$m': 6.35994893830703e-05,
 '2100$$m': 0.00032970415569395436,
 '2105$$m': 0.0002848356134008888,
 '2108$$m': 0.00023950536294815313,
 '2109$$m': 0.00016146935301993142,
 '2316$$m': 9.501947345797125e-05,
 '2312$$m': 0.00010228395092140341,
 '2302$$m': 0.00032927790862594504,
 '2300$$m': 0.00020907496254493922,
 '2291$$m': 0.00043370159968441523,
 '2252$$m': 6.635849900327237e-05,
 '223$$m': 0.0004131749445994341,
 '2193$$m': 0.00022845806277879623,
 '2040$$m': 5.269579481237163e-05,
 '2174$$m': 0.0004256429077603195,
 '2140$$m': 0.0002125795569715187,
 '2138$$m': 0.00011777747739864482,
 '2137$$m': 0.00015972751789692215,
 '2136$$m': 8.77403657515748e-05,
 '2135$$m': 8.740570448428916e-05,
 '2133$$m': 0.0001637295928356424,
 '2125$$m': 0.00013783731346193412,
 '2124$$m': 0.00020815886343297682,
 '2115$$m': 0.00032233913193471477,
 '2111$$m': 0.00010003434467016365,
 '2161$$m': 0.00021832164202686987,
 '2033$$m': 8.236827065364482e-05,
 '2082$$m': 0.00011484309850904378,
 '2021$$m': 0.00022523016461892004,
 '180$$m': 0.00014128340258675017,
 '1784$$m': 0.0004243980494602618,
 '1756$$m': 4.444969157861154e-05,
 '1704$$m': 0.00047029449276568953,
 '1690$$m': 0.00022880239764658616,
 '1682$$m': 0.00027962434431926496,
 '1676$$m': 0.0003347880513887544,
 '1654$$m': 5.1898494948402064e-05,
 '1653$$m': 0.0003142386739635298,
 '1639$$m': 0.00028321442305454534,
 '1633$$m': 9.973399022879447e-05,
 '1617$$m': 0.0007132472358209629,
 '1586$$m': 0.00019350535778704807,
 '203$$m': 7.497835091865308e-05,
 '1583$$m': 3.160214603856974e-05,
 '1580$$m': 0.000761497402466569,
 '1573$$m': 0.00042353572458772966,
 '1544$$m': 0.0003776267493809951,
 '153$$m': 0.00022458366142319214,
 '1831$$m': 0.00020817752094052461,
 '186$$m': 7.72930005599303e-05,
 '1584$$m': 0.00040666966132572494,
 '1918$$m': 0.00019543144573157405,
 '1884$$m': 0.00012030848024511219,
 '2015$$m': 0.00012241430522506538,
 '2012$$m': 0.00031311986493010735,
 '2009$$m': 0.0001317079191319867,
 '2006$$m': 0.0002870996271665062,
 '2005$$m': 0.0002130025086512292,
 '2003$$m': 0.00021340498415607705,
 '2002$$m': 0.00023923384193641953,
 '2001$$m': 0.00029082426565677486,
 '2000$$m': 0.00046553848321921685,
 '2011$$m': 0.00031812424092575193,
 '1967$$m': 0.0001791657649143922,
 '2$$m': 0.00022070534866286862,
 '1923$$m': 0.0003803938997632098,
 '1927$$m': 0.00010437922485272498,
 '1948$$m': 8.18410630916594e-05,
 '1947$$m': 0.0002341290676180805,
 '1959$$m': 0.00021441074738470174,
 '1954$$m': 0.0003154323452013059,
 '1921$$m': 0.00020891652039473405,
 '100$$u': 4.1203682651274543e-05,
 '3274$$m': 0.000124280927732694,
 '3257$$m': 0.00019555476799956888,
 '288$$m': 0.00021739412324000749,
 '3107$$m': 0.0002499383281944143,
 '2567$$m': 9.883280536937012e-05,
 '2535$$m': 5.960247015942795e-05,
 '3441$$m': 0.00015963543781458993,
 '2527$$m': 0.00019672224737039278,
 '265$$m': 0.0002536763213320005,
 '349$$m': 0.00030455601094491727,
 '2427$$m': 0.0002443127287439373,
 '800$$m': 0.00020441966134111236,
 '3536$$m': 0.00017923775633670535,
 '593$$m': 0.0007997180604245039,
 '3827$$m': 0.00017721708131505213,
 '380$$m': 0.00040475136321867786,
 '2409$$m': 0.0001391388857616092,
 '1213$$m': 0.0004961527891075093,
 '1373$$m': 0.00017466666783390515,
 '1208$$m': 0.0003472753438365268,
 '1049$$m': 0.0001452309468203029,
 '2406$$m': 0.0003871749266349243,
 '2367$$m': 0.00010043040860599326,
 '21$$m': 0.000379936310477042,
 '1722$$m': 0.0002553495453545726,
 '1597$$m': 0.00023388197126029373,
 '1562$$m': 0.0001813755215159714,
 '15$$m': 7.057706163526024e-05,
 '1499$$m': 0.0001674335338597326,
 '1000$$u': 4.0274208183537955e-05,
 '3256$$m': 0.0002975503761763748,
 '2987$$m': 0.0005445281322288887,
 '3068$$m': 0.00011967362341478025,
 '2990$$m': 0.00012299982975419848,
 '2973$$m': 0.00015276501943769485,
 '2947$$m': 0.0002636135112218626,
 '2916$$m': 0.000576075155637006,
 '2857$$m': 0.00015658742530693577,
 '2700$$m': 0.000395681381795239,
 '3267$$m': 0.00015355845286222361,
 '2949$$m': 0.0001974702761129608,
 '861$$m': 0.00010440756794118622,
 '3418$$m': 0.00042082135131485323,
 '3405$$m': 6.869229168798721e-05,
 '457$$m': 0.000571166618796565,
 '3793$$m': 0.0005050489591164558,
 '3578$$m': 0.0006321952140784376,
 '3527$$m': 0.0003741334842804208,
 '377$$m': 0.0004706938549473495,
 '1222$$m': 0.0003707348658735018,
 '1036$$m': 0.0004766594857210835,
 '2366$$m': 0.0002339461083356583,
 '1299$$m': 0.00023938164756184352,
 '2353$$m': 0.00028994443534192883,
 '2194$$m': 0.00031468982088277364,
 '2132$$m': 0.00010749701142424967,
 '2085$$m': 0.0001748223432504891,
 '163$$m': 0.00015966710699057092,
 '1610$$m': 0.00047715635179916815,
 '1001$$u': 0.0001581295476550202,
 '3145$$m': 9.141534294000017e-05,
 '3147$$m': 0.0004010103110171078,
 '3148$$m': 0.00022111191344998958,
 '3158$$m': 4.019049150502407e-05,
 '3159$$m': 0.00015841554030388583,
 '3128$$m': 4.965691766501569e-05,
 '3150$$m': 6.015658540326431e-05,
 '3125$$m': 8.077453237570013e-05,
 '3051$$m': 6.77258415559647e-05,
 '3083$$m': 0.00015295159257252818,
 '3081$$m': 0.0003671988781385205,
 '3079$$m': 7.149758245626182e-05,
 '3078$$m': 7.624418470517686e-05,
 '3055$$m': 6.386535519951725e-05,
 '3052$$m': 0.0003111245924059915,
 '3160$$m': 0.000376677008517202,
 '3008$$m': 5.6569140055068224e-05,
 '3115$$m': 5.067902095154685e-05,
 '3163$$m': 0.0001311962213750925,
 '3317$$m': 0.00018437040264029193,
 '3328$$m': 0.0001316364579435391,
 '3325$$m': 7.791471624885606e-05,
 '3006$$m': 0.00029917583511533593,
 '3316$$m': 0.00011178754383286166,
 '3299$$m': 8.817262386322186e-05,
 '3298$$m': 0.00020450346692272553,
 '3289$$m': 6.83029496991697e-05,
 '3285$$m': 0.00016069411158437162,
 '3273$$m': 0.00021058300002330094,
 '3173$$m': 0.0001693074339785725,
 '3260$$m': 0.00017770483840844853,
 '3192$$m': 4.769594171527363e-05,
 '3185$$m': 0.00014436388518453906,
 '3183$$m': 4.0073902454622276e-05,
 '3182$$m': 7.696533413030691e-05,
 '3181$$m': 9.995971779913228e-05,
 '3179$$m': 0.00010039260390567416,
 '3178$$m': 0.00017605031263792133,
 '3176$$m': 0.00042909983027885896,
 '3241$$m': 7.835170468232278e-05,
 '3000$$m': 0.00017256249644178025,
 '2843$$m': 5.550384069545612e-05,
 '2996$$m': 6.275126706384284e-05,
 '2771$$m': 8.722364675450758e-05,
 '2769$$m': 5.5295738919788494e-05,
 '2763$$m': 0.00033302787389467554,
 '2761$$m': 0.00021851055434075794,
 '2759$$m': 0.00015153493721351542,
 '2725$$m': 7.921326886769604e-05,
 '2724$$m': 0.0002138286266692771,
 '2774$$m': 4.985544933008247e-05,
 '2721$$m': 5.695103371154243e-05,
 '2718$$m': 0.00013749000286197228,
 '2712$$m': 0.00031853535824822996,
 '2711$$m': 4.254950006638034e-05,
 '2710$$m': 0.0003949850754078858,
 '2707$$m': 0.00023997124201900982,
 '2706$$m': 0.0004491774839084554,
 '3357$$m': 8.138578165666604e-05,
 '2720$$m': 0.000140424357207607,
 '2775$$m': 3.7698623369157526e-05,
 '2810$$m': 6.0537723287561124e-05,
 '2995$$m': 0.00012519083354025506,
 '299$$m': 6.522581499750054e-05,
 '2976$$m': 0.00018855099642321326,
 '2975$$m': 5.7881396655292146e-05,
 '2966$$m': 0.0001799926808477568,
 '2960$$m': 5.970877451908095e-05,
 '2912$$m': 0.00015202294705307575,
 '2908$$m': 0.0002987378321185464,
 '2801$$m': 5.838476413569491e-05,
 '2894$$m': 3.683054971696826e-05,
 '2690$$m': 0.00013666929176472405,
 '2890$$m': 0.0003203484560966236,
 '2885$$m': 4.763599673564767e-05,
 '2883$$m': 0.00010052220662194878,
 '2882$$m': 7.421159064964962e-05,
 '2864$$m': 4.402956868918699e-05,
 '2837$$m': 4.428756129156041e-05,
 '2829$$m': 6.360891993219859e-05,
 '2891$$m': 7.713342085049919e-05,
 '3893$$m': 0.00020847813404921783,
 '3452$$m': 0.00012259392310398775,
 '3916$$m': 0.00017883253412408632,
 '3915$$m': 6.958590125499784e-05,
 '3914$$m': 5.50231382641088e-05,

In [121]:
metric_df = pd.DataFrame(columns=["userId","metric","intersection_length","recommendations_length"])

In [73]:
import multiprocessing



if __name__ == '__main__':
    pool = multiprocessing.Pool()
    
    outputs = pool.map(calculate_pagerank, inputs)
    print(outputs)

In [74]:
#Think Tomorrow

def parallel_pagerank(G, num_processes=4):
    def calculate_pagerank(G, user):
        return nx.pagerank(G, personalization={user:1},alpha=.85,max_iter=5,tol=1e-5)
    
    with Pool(num_processes) as pool:
        # Run PageRank on each chunk of nodes in parallel
        results = pool.map(calculate_pagerank, nodes_chunks)
    pr = []
    for result in results:
        pr.append(result)

In [76]:
pool = Pool(processes=num_processes)

In [ ]:
for user in user_list:
    #the movie list liked by user in the test dataset
    movie_validation_liked = list(set(Validation_liked_train0[Validation_liked_train0["userId"]==user]["movieId"]))
    pr = nx.pagerank(Train_Graph,personalization={user:1})
    #sorting the nodes in descending order
    Top_n_nodes = sorted(pr,key =pr.get, reverse=True)
    #removing nan nodes
    Top_n_nodes_2 = [x for x in Top_n_nodes if not (type(x)==float)]
    #selecting top 10 movies
    substr = "$$m"
    #making the length of validation dataset and pagerank algorithm dataset same (so that our recall or precision is not bounded)
    selections = [x for x in Top_n_nodes_2 if substr in x][:len(movie_validation_liked)]
    if len(movie_validation_liked) != 0:
        metric = len(list(set(selections).intersection(movie_validation_liked))) / (len(movie_validation_liked))
        metric_df.loc[len(metric_df.index)] = [user,metric,len(list(set(selections).intersection(movie_validation_liked))),len(selections)] 
        print(metric_df.shape)
        ARHR  , Scaled Hit Rank (arhr*), (Use weights basis no of movies the user has seen the no of movies)

(1, 4)
(2, 4)
(3, 4)
(4, 4)
(5, 4)
(6, 4)
(7, 4)
(8, 4)
(9, 4)
(10, 4)
(11, 4)
(12, 4)
(13, 4)
(14, 4)
(15, 4)
(16, 4)
(17, 4)
(18, 4)
(19, 4)
(20, 4)
(21, 4)
(22, 4)
(23, 4)
(24, 4)
(25, 4)
(26, 4)
(27, 4)
(28, 4)
(29, 4)
(30, 4)
(31, 4)
(32, 4)
(33, 4)
(34, 4)
(35, 4)
(36, 4)
(37, 4)
(38, 4)
(39, 4)
(40, 4)
(41, 4)
(42, 4)
(43, 4)
(44, 4)
(45, 4)
(46, 4)
(47, 4)
(48, 4)
(49, 4)
(50, 4)
(51, 4)
(52, 4)
(53, 4)
(54, 4)
(55, 4)
(56, 4)
(57, 4)
(58, 4)
(59, 4)
(60, 4)
(61, 4)
(62, 4)
(63, 4)
(64, 4)
(65, 4)
(66, 4)
(67, 4)
(68, 4)
(69, 4)
(70, 4)
(71, 4)
(72, 4)
(73, 4)
(74, 4)
(75, 4)
(76, 4)
(77, 4)
(78, 4)
(79, 4)
(80, 4)
(81, 4)
(82, 4)
(83, 4)
(84, 4)
(85, 4)
(86, 4)
(87, 4)
(88, 4)
(89, 4)
(90, 4)
(91, 4)
(92, 4)
(93, 4)
(94, 4)
(95, 4)
(96, 4)
(97, 4)
(98, 4)
(99, 4)
(100, 4)
(101, 4)
(102, 4)
(103, 4)
(104, 4)
(105, 4)
(106, 4)
(107, 4)
(108, 4)
(109, 4)
(110, 4)
(111, 4)
(112, 4)
(113, 4)
(114, 4)
(115, 4)
(116, 4)
(117, 4)
(118, 4)
(119, 4)
(120, 4)
(121, 4)
(122, 4)
(123, 4)
(124, 4)
(125, 4)
(126, 4)
(127, 4)
(128, 4)
(129, 4)
(130, 4)
(131, 4)
(132, 4)
(133, 4)
(134, 4)
(135, 4)
(136, 4)
(137, 4)
(138, 4)
(139, 4)
(140, 4)
(141, 4)
(142, 4)
(143, 4)
(144, 4)
(145, 4)
(146, 4)
(147, 4)
(148, 4)
(149, 4)
(150, 4)
(151, 4)
(152, 4)
(153, 4)
(154, 4)
(155, 4)
(156, 4)
(157, 4)
(158, 4)
(159, 4)
(160, 4)
(161, 4)
(162, 4)
(163, 4)
(164, 4)
(165, 4)
(166, 4)
(167, 4)
(168, 4)
(169, 4)
(170, 4)
(171, 4)
(172, 4)
(173, 4)
(174, 4)
(175, 4)
(176, 4)
(177, 4)
(178, 4)
(179, 4)
(180, 4)
(181, 4)
(182, 4)
(183, 4)
(184, 4)
(185, 4)
(186, 4)
(187, 4)
(188, 4)
(189, 4)
(190, 4)
(191, 4)
(192, 4)
(193, 4)
(194, 4)
(195, 4)
(196, 4)
(197, 4)
(198, 4)
(199, 4)
(200, 4)
(201, 4)
(202, 4)
(203, 4)
(204, 4)
(205, 4)
(206, 4)
(207, 4)
(208, 4)
(209, 4)
(210, 4)
(211, 4)
(212, 4)
(213, 4)
(214, 4)
(215, 4)
(216, 4)
(217, 4)
(218, 4)
(219, 4)
(220, 4)
(221, 4)
(222, 4)
(223, 4)
(224, 4)
(225, 4)
(226, 4)
(227, 4)
(228, 4)
(229, 4)
(230, 4)
(231, 4)
(232, 4)
(233, 4)
(234, 4)
(235, 4)
(236, 4)
(237, 4)
(238, 4)
(239, 4)
(240, 4)
(241, 4)
(242, 4)
(243, 4)
(244, 4)
(245, 4)
(246, 4)
(247, 4)
(248, 4)
(249, 4)
(250, 4)
(251, 4)
(252, 4)
(253, 4)
(254, 4)
(255, 4)
(256, 4)
(257, 4)
(258, 4)
(259, 4)
(260, 4)
(261, 4)
(262, 4)
(263, 4)
(264, 4)
(265, 4)
(266, 4)
(267, 4)
(268, 4)
(269, 4)
(270, 4)
(271, 4)
(272, 4)
(273, 4)
(274, 4)
(275, 4)
(276, 4)
(277, 4)
(278, 4)
(279, 4)
(280, 4)
(281, 4)
(282, 4)
(283, 4)
(284, 4)
(285, 4)
(286, 4)
(287, 4)
(288, 4)
(289, 4)
(290, 4)
(291, 4)
(292, 4)
(293, 4)
(294, 4)
(295, 4)
(296, 4)
(297, 4)
(298, 4)
(299, 4)
(300, 4)
(301, 4)
(302, 4)
(303, 4)
(304, 4)
(305, 4)
(306, 4)
(307, 4)
(308, 4)
(309, 4)
(310, 4)
(311, 4)
(312, 4)
(313, 4)
(314, 4)
(315, 4)
(316, 4)
(317, 4)
(318, 4)
(319, 4)
(320, 4)
(321, 4)
(322, 4)
(323, 4)
(324, 4)
(325, 4)
(326, 4)
(327, 4)
(328, 4)
(329, 4)
(330, 4)
(331, 4)
(332, 4)
(333, 4)
(334, 4)
(335, 4)
(336, 4)
(337, 4)
(338, 4)
(339, 4)
(340, 4)
(341, 4)
(342, 4)
(343, 4)
(344, 4)
(345, 4)
(346, 4)
(347, 4)
(348, 4)
(349, 4)
(350, 4)
(351, 4)
(352, 4)
(353, 4)
(354, 4)
(355, 4)
(356, 4)
(357, 4)
(358, 4)
(359, 4)
(360, 4)
(361, 4)
(362, 4)
(363, 4)
(364, 4)
(365, 4)
(366, 4)
(367, 4)
(368, 4)
(369, 4)
(370, 4)
(371, 4)
(372, 4)
(373, 4)
(374, 4)
(375, 4)
(376, 4)
(377, 4)
(378, 4)
(379, 4)
(380, 4)
(381, 4)
(382, 4)
(383, 4)
(384, 4)
(385, 4)
(386, 4)
(387, 4)
(388, 4)
(389, 4)
(390, 4)
(391, 4)
(392, 4)
(393, 4)
(394, 4)
(395, 4)
(396, 4)
(397, 4)
(398, 4)
(399, 4)
(400, 4)
(401, 4)
(402, 4)
(403, 4)
(404, 4)
(405, 4)
(406, 4)
(407, 4)
(408, 4)
(409, 4)
(410, 4)
(411, 4)
(412, 4)
(413, 4)
(414, 4)
(415, 4)
(416, 4)
(417, 4)
(418, 4)
(419, 4)
(420, 4)
(421, 4)
(422, 4)
(423, 4)
(424, 4)
(425, 4)
(426, 4)
(427, 4)
(428, 4)
(429, 4)
(430, 4)
(431, 4)
(432, 4)
(433, 4)
(434, 4)
(435, 4)
(436, 4)
(437, 4)
(438, 4)
(439, 4)
(440, 4)
(441, 4)
(442, 4)
(443, 4)
(444, 4)
(445, 4)
(446, 4)
(447, 4)
(448, 4)
(449, 4)
(450, 4)
(451, 4)
(452, 4)
(453, 4)
(454, 4)
(455, 4)
(456, 4)
(457, 4)
(458, 4)
(459, 4)
(460, 4)
(461, 4)
(462, 4)
(463, 4)
(464, 4)
(465, 4)
(466, 4)
(467, 4)
(468, 4)
(469, 4)
(470, 4)
(471, 4)
(472, 4)
(473, 4)
(474, 4)
(475, 4)
(476, 4)
(477, 4)
(478, 4)
(479, 4)
(480, 4)
(481, 4)
(482, 4)
(483, 4)
(484, 4)
(485, 4)
(486, 4)
(487, 4)
(488, 4)
(489, 4)
(490, 4)
(491, 4)
(492, 4)
(493, 4)
(494, 4)
(495, 4)
(496, 4)
(497, 4)
(498, 4)
(499, 4)
(500, 4)
(501, 4)
(502, 4)
(503, 4)
(504, 4)
(505, 4)
(506, 4)
(507, 4)
(508, 4)
(509, 4)
(510, 4)
(511, 4)
(512, 4)
(513, 4)
(514, 4)
(515, 4)
(516, 4)
(517, 4)
(518, 4)
(519, 4)
(520, 4)
(521, 4)
(522, 4)
(523, 4)
(524, 4)
(525, 4)
(526, 4)
(527, 4)
(528, 4)
(529, 4)
(530, 4)
(531, 4)
(532, 4)
(533, 4)
(534, 4)
(535, 4)
(536, 4)
(537, 4)
(538, 4)
(539, 4)
(540, 4)
(541, 4)
(542, 4)
(543, 4)
(544, 4)
(545, 4)
(546, 4)
(547, 4)
(548, 4)
(549, 4)
(550, 4)
(551, 4)
(552, 4)
(553, 4)
(554, 4)
(555, 4)
(556, 4)
(557, 4)
(558, 4)
(559, 4)
(560, 4)
(561, 4)
(562, 4)
(563, 4)
(564, 4)
(565, 4)
(566, 4)
(567, 4)
(568, 4)
(569, 4)
(570, 4)
(571, 4)
(572, 4)
(573, 4)
(574, 4)
(575, 4)
(576, 4)
(577, 4)
(578, 4)
(579, 4)
(580, 4)
(581, 4)
(582, 4)
(583, 4)
(584, 4)
(585, 4)
(586, 4)
(587, 4)
(588, 4)
(589, 4)
(590, 4)
(591, 4)
(592, 4)
(593, 4)
(594, 4)
(595, 4)
(596, 4)
(597, 4)
(598, 4)
(599, 4)
(600, 4)
(601, 4)
(602, 4)
(603, 4)
(604, 4)
(605, 4)
(606, 4)
(607, 4)
(608, 4)
(609, 4)
(610, 4)
(611, 4)
(612, 4)
(613, 4)
(614, 4)
(615, 4)
(616, 4)
(617, 4)
(618, 4)
(619, 4)
(620, 4)
(621, 4)
(622, 4)
(623, 4)
(624, 4)
(625, 4)
(626, 4)
(627, 4)
(628, 4)
(629, 4)
(630, 4)
(631, 4)
(632, 4)
(633, 4)
(634, 4)
(635, 4)
(636, 4)
(637, 4)
(638, 4)
(639, 4)
(640, 4)
(641, 4)
(642, 4)
(643, 4)
(644, 4)
(645, 4)
(646, 4)
(647, 4)
(648, 4)
(649, 4)
(650, 4)
(651, 4)
(652, 4)
(653, 4)
(654, 4)
(655, 4)
(656, 4)
(657, 4)
(658, 4)
(659, 4)
(660, 4)
(661, 4)
(662, 4)
(663, 4)
(664, 4)
(665, 4)
(666, 4)
(667, 4)
(668, 4)
(669, 4)
(670, 4)
(671, 4)
(672, 4)
(673, 4)
(674, 4)
(675, 4)
(676, 4)
(677, 4)
(678, 4)
(679, 4)
(680, 4)
(681, 4)
(682, 4)
(683, 4)
(684, 4)
(685, 4)
(686, 4)
(687, 4)
(688, 4)
(689, 4)
(690, 4)
(691, 4)
(692, 4)
(693, 4)
(694, 4)
(695, 4)
(696, 4)
(697, 4)
(698, 4)
(699, 4)
(700, 4)
(701, 4)
(702, 4)
(703, 4)
(704, 4)
(705, 4)
(706, 4)
(707, 4)
(708, 4)
(709, 4)
(710, 4)
(711, 4)
(712, 4)
(713, 4)
(714, 4)
(715, 4)
(716, 4)
(717, 4)
(718, 4)
(719, 4)
(720, 4)
(721, 4)
(722, 4)
(723, 4)
(724, 4)
(725, 4)
(726, 4)
(727, 4)
(728, 4)
(729, 4)
(730, 4)
(731, 4)
(732, 4)
(733, 4)
(734, 4)
(735, 4)
(736, 4)
(737, 4)
(738, 4)
(739, 4)
(740, 4)
(741, 4)
(742, 4)
(743, 4)
(744, 4)
(745, 4)
(746, 4)
(747, 4)
(748, 4)
(749, 4)
(750, 4)
(751, 4)
(752, 4)
(753, 4)
(754, 4)
(755, 4)
(756, 4)
(757, 4)
(758, 4)
(759, 4)
(760, 4)
(761, 4)
(762, 4)
(763, 4)
(764, 4)
(765, 4)
(766, 4)
(767, 4)
(768, 4)
(769, 4)
(770, 4)
(771, 4)
(772, 4)
(773, 4)
(774, 4)
(775, 4)
(776, 4)
(777, 4)
(778, 4)
(779, 4)
(780, 4)
(781, 4)
(782, 4)
(783, 4)
(784, 4)
(785, 4)
(786, 4)
(787, 4)
(788, 4)
(789, 4)
(790, 4)
(791, 4)
(792, 4)
(793, 4)
(794, 4)
(795, 4)
(796, 4)
(797, 4)
(798, 4)
(799, 4)
(800, 4)
(801, 4)
(802, 4)
(803, 4)
(804, 4)
(805, 4)
(806, 4)
(807, 4)
(808, 4)
(809, 4)
(810, 4)
(811, 4)
(812, 4)
(813, 4)
(814, 4)
(815, 4)
(816, 4)
(817, 4)
(818, 4)
(819, 4)
(820, 4)
(821, 4)
(822, 4)
(823, 4)
(824, 4)
(825, 4)
(826, 4)
(827, 4)
(828, 4)
(829, 4)
(830, 4)
(831, 4)
(832, 4)
(833, 4)
(834, 4)
(835, 4)
(836, 4)
(837, 4)
(838, 4)
(839, 4)
(840, 4)
(841, 4)
(842, 4)
(843, 4)
(844, 4)
(845, 4)
(846, 4)
(847, 4)
(848, 4)
(849, 4)
(850, 4)
(851, 4)
(852, 4)
(853, 4)
(854, 4)
(855, 4)
(856, 4)
(857, 4)
(858, 4)
(859, 4)
(860, 4)
(861, 4)
(862, 4)
(863, 4)
(864, 4)
(865, 4)
(866, 4)
(867, 4)
(868, 4)
(869, 4)
(870, 4)
(871, 4)
(872, 4)
(873, 4)
(874, 4)
(875, 4)
(876, 4)
(877, 4)
(878, 4)
(879, 4)
(880, 4)
(881, 4)
(882, 4)
(883, 4)
(884, 4)
(885, 4)
(886, 4)
(887, 4)
(888, 4)
(889, 4)
(890, 4)
(891, 4)
(892, 4)
(893, 4)
(894, 4)
(895, 4)
(896, 4)
(897, 4)
(898, 4)
(899, 4)
(900, 4)
(901, 4)
(902, 4)
(903, 4)
(904, 4)
(905, 4)
(906, 4)
(907, 4)
(908, 4)
(909, 4)
(910, 4)
(911, 4)
(912, 4)
(913, 4)
(914, 4)
(915, 4)
(916, 4)
(917, 4)
(918, 4)
(919, 4)
(920, 4)
(921, 4)
(922, 4)
(923, 4)

(924, 4)
(925, 4)
(926, 4)
(927, 4)
(928, 4)
(929, 4)
(930, 4)
(931, 4)
(932, 4)
(933, 4)
(934, 4)
(935, 4)
(936, 4)
(937, 4)
(938, 4)
(939, 4)
(940, 4)
(941, 4)
(942, 4)
(943, 4)
(944, 4)
(945, 4)
(946, 4)
(947, 4)
(948, 4)
(949, 4)
(950, 4)
(951, 4)
(952, 4)
(953, 4)
(954, 4)
(955, 4)
(956, 4)
(957, 4)
(958, 4)
(959, 4)
(960, 4)
(961, 4)
(962, 4)
(963, 4)
(964, 4)
(965, 4)
(966, 4)
(967, 4)
(968, 4)
(969, 4)
(970, 4)
(971, 4)
(972, 4)
(973, 4)
(974, 4)
(975, 4)
(976, 4)
(977, 4)
(978, 4)
(979, 4)
(980, 4)
(981, 4)
(982, 4)
(983, 4)
(984, 4)
(985, 4)
(986, 4)
(987, 4)
(988, 4)
(989, 4)
(990, 4)
(991, 4)
(992, 4)
(993, 4)
(994, 4)
(995, 4)
(996, 4)
(997, 4)
(998, 4)
(999, 4)
(1000, 4)
(1001, 4)
(1002, 4)
(1003, 4)
(1004, 4)
(1005, 4)
(1006, 4)
(1007, 4)
(1008, 4)
(1009, 4)
(1010, 4)
(1011, 4)
(1012, 4)
(1013, 4)
(1014, 4)
(1015, 4)
(1016, 4)
(1017, 4)
(1018, 4)
(1019, 4)
(1020, 4)
(1021, 4)
(1022, 4)
(1023, 4)
(1024, 4)
(1025, 4)
(1026, 4)
(1027, 4)
(1028, 4)
(1029, 4)
(1030, 4)
(1031, 4)
(1032, 4)
(1033, 4)
(1034, 4)
(1035, 4)
(1036, 4)
(1037, 4)
(1038, 4)
(1039, 4)
(1040, 4)
(1041, 4)
(1042, 4)
(1043, 4)
(1044, 4)
(1045, 4)
(1046, 4)
(1047, 4)
(1048, 4)
(1049, 4)
(1050, 4)
(1051, 4)
(1052, 4)
(1053, 4)
(1054, 4)
(1055, 4)
(1056, 4)
(1057, 4)
(1058, 4)
(1059, 4)
(1060, 4)
(1061, 4)
(1062, 4)
(1063, 4)
(1064, 4)
(1065, 4)
(1066, 4)
(1067, 4)
(1068, 4)
(1069, 4)
(1070, 4)
(1071, 4)
(1072, 4)
(1073, 4)
(1074, 4)
(1075, 4)
(1076, 4)
(1077, 4)
(1078, 4)
(1079, 4)
(1080, 4)
(1081, 4)
(1082, 4)
(1083, 4)
(1084, 4)
(1085, 4)
(1086, 4)
(1087, 4)
(1088, 4)
(1089, 4)
(1090, 4)
(1091, 4)
(1092, 4)
(1093, 4)
(1094, 4)
(1095, 4)
(1096, 4)
(1097, 4)
(1098, 4)
(1099, 4)
(1100, 4)
(1101, 4)
(1102, 4)
(1103, 4)
(1104, 4)
(1105, 4)
(1106, 4)
(1107, 4)
(1108, 4)
(1109, 4)
(1110, 4)
(1111, 4)
(1112, 4)
(1113, 4)
(1114, 4)
(1115, 4)
(1116, 4)
(1117, 4)
(1118, 4)
(1119, 4)
(1120, 4)
(1121, 4)
(1122, 4)
(1123, 4)
(1124, 4)
(1125, 4)
(1126, 4)
(1127, 4)
(1128, 4)
(1129, 4)
(1130, 4)
(1131, 4)
(1132, 4)
(1133, 4)
(1134, 4)
(1135, 4)
(1136, 4)
(1137, 4)
(1138, 4)
(1139, 4)
(1140, 4)
(1141, 4)
(1142, 4)
(1143, 4)
(1144, 4)
(1145, 4)
(1146, 4)
(1147, 4)
(1148, 4)
(1149, 4)
(1150, 4)
(1151, 4)
(1152, 4)
(1153, 4)
(1154, 4)
(1155, 4)
(1156, 4)
(1157, 4)
(1158, 4)
(1159, 4)
(1160, 4)
(1161, 4)
(1162, 4)
(1163, 4)
(1164, 4)
(1165, 4)
(1166, 4)
(1167, 4)
(1168, 4)
(1169, 4)
(1170, 4)
(1171, 4)
(1172, 4)
(1173, 4)
(1174, 4)
(1175, 4)
(1176, 4)
(1177, 4)
(1178, 4)
(1179, 4)
(1180, 4)
(1181, 4)
(1182, 4)
(1183, 4)
(1184, 4)
(1185, 4)
(1186, 4)
(1187, 4)
(1188, 4)
(1189, 4)
(1190, 4)
(1191, 4)
(1192, 4)
(1193, 4)
(1194, 4)
(1195, 4)
(1196, 4)
(1197, 4)
(1198, 4)
(1199, 4)
(1200, 4)
(1201, 4)
(1202, 4)
(1203, 4)
(1204, 4)
(1205, 4)
(1206, 4)
(1207, 4)
(1208, 4)
(1209, 4)
(1210, 4)
(1211, 4)
(1212, 4)
(1213, 4)
(1214, 4)
(1215, 4)
(1216, 4)
(1217, 4)
(1218, 4)
(1219, 4)
(1220, 4)
(1221, 4)
(1222, 4)
(1223, 4)
(1224, 4)
(1225, 4)
(1226, 4)
(1227, 4)
(1228, 4)
(1229, 4)
(1230, 4)
(1231, 4)
(1232, 4)
(1233, 4)
(1234, 4)
(1235, 4)
(1236, 4)
(1237, 4)
(1238, 4)
(1239, 4)
(1240, 4)
(1241, 4)
(1242, 4)
(1243, 4)
(1244, 4)
(1245, 4)
(1246, 4)
(1247, 4)
(1248, 4)
(1249, 4)
(1250, 4)
(1251, 4)
(1252, 4)
(1253, 4)
(1254, 4)
(1255, 4)
(1256, 4)
(1257, 4)
(1258, 4)
(1259, 4)
(1260, 4)
(1261, 4)
(1262, 4)
(1263, 4)
(1264, 4)
(1265, 4)
(1266, 4)
(1267, 4)
(1268, 4)
(1269, 4)
(1270, 4)
(1271, 4)
(1272, 4)
(1273, 4)
(1274, 4)
(1275, 4)
(1276, 4)
(1277, 4)
(1278, 4)
(1279, 4)
(1280, 4)
(1281, 4)
(1282, 4)
(1283, 4)
(1284, 4)
(1285, 4)
(1286, 4)
(1287, 4)
(1288, 4)
(1289, 4)
(1290, 4)
(1291, 4)
(1292, 4)
(1293, 4)
(1294, 4)
(1295, 4)
(1296, 4)
(1297, 4)
(1298, 4)
(1299, 4)
(1300, 4)
(1301, 4)
(1302, 4)
(1303, 4)
(1304, 4)
(1305, 4)
(1306, 4)
(1307, 4)
(1308, 4)
(1309, 4)
(1310, 4)
(1311, 4)
(1312, 4)
(1313, 4)
(1314, 4)
(1315, 4)
(1316, 4)
(1317, 4)
(1318, 4)
(1319, 4)
(1320, 4)
(1321, 4)
(1322, 4)
(1323, 4)
(1324, 4)
(1325, 4)
(1326, 4)
(1327, 4)
(1328, 4)
(1329, 4)
(1330, 4)
(1331, 4)
(1332, 4)
(1333, 4)
(1334, 4)
(1335, 4)
(1336, 4)
(1337, 4)
(1338, 4)
(1339, 4)
(1340, 4)
(1341, 4)
(1342, 4)
(1343, 4)
(1344, 4)
(1345, 4)
(1346, 4)
(1347, 4)
(1348, 4)
(1349, 4)
(1350, 4)
(1351, 4)
(1352, 4)
(1353, 4)
(1354, 4)
(1355, 4)
(1356, 4)
(1357, 4)
(1358, 4)
(1359, 4)
(1360, 4)
(1361, 4)
(1362, 4)
(1363, 4)
(1364, 4)
(1365, 4)
(1366, 4)
(1367, 4)
(1368, 4)
(1369, 4)
(1370, 4)
(1371, 4)
(1372, 4)
(1373, 4)
(1374, 4)
(1375, 4)
(1376, 4)
(1377, 4)
(1378, 4)
(1379, 4)
(1380, 4)
(1381, 4)
(1382, 4)
(1383, 4)
(1384, 4)
(1385, 4)
(1386, 4)
(1387, 4)
(1388, 4)
(1389, 4)
(1390, 4)
(1391, 4)
(1392, 4)
(1393, 4)
(1394, 4)
(1395, 4)
(1396, 4)
(1397, 4)
(1398, 4)
(1399, 4)
(1400, 4)
(1401, 4)
(1402, 4)
(1403, 4)
(1404, 4)
(1405, 4)
(1406, 4)
(1407, 4)
(1408, 4)
(1409, 4)
(1410, 4)
(1411, 4)
(1412, 4)
(1413, 4)
(1414, 4)
(1415, 4)
(1416, 4)
(1417, 4)
(1418, 4)
(1419, 4)
(1420, 4)
(1421, 4)
(1422, 4)
(1423, 4)
(1424, 4)
(1425, 4)
(1426, 4)
(1427, 4)
(1428, 4)
(1429, 4)
(1430, 4)
(1431, 4)
(1432, 4)
(1433, 4)
(1434, 4)
(1435, 4)
(1436, 4)
(1437, 4)
(1438, 4)
(1439, 4)
(1440, 4)
(1441, 4)
(1442, 4)
(1443, 4)
(1444, 4)
(1445, 4)
(1446, 4)
(1447, 4)
(1448, 4)
(1449, 4)
(1450, 4)
(1451, 4)
(1452, 4)
(1453, 4)
(1454, 4)
(1455, 4)
(1456, 4)
(1457, 4)
(1458, 4)
(1459, 4)
(1460, 4)
(1461, 4)
(1462, 4)
(1463, 4)
(1464, 4)
(1465, 4)
(1466, 4)
(1467, 4)
(1468, 4)
(1469, 4)
(1470, 4)
(1471, 4)
(1472, 4)
(1473, 4)
(1474, 4)
(1475, 4)
(1476, 4)
(1477, 4)
(1478, 4)
(1479, 4)
(1480, 4)
(1481, 4)
(1482, 4)
(1483, 4)
(1484, 4)
(1485, 4)
(1486, 4)
(1487, 4)
(1488, 4)
(1489, 4)
(1490, 4)
(1491, 4)
(1492, 4)
(1493, 4)
(1494, 4)
(1495, 4)
(1496, 4)
(1497, 4)
(1498, 4)
(1499, 4)
(1500, 4)
(1501, 4)
(1502, 4)
(1503, 4)
(1504, 4)
(1505, 4)
(1506, 4)
(1507, 4)
(1508, 4)
(1509, 4)
(1510, 4)
(1511, 4)
(1512, 4)
(1513, 4)
(1514, 4)
(1515, 4)
(1516, 4)
(1517, 4)
(1518, 4)
(1519, 4)
(1520, 4)
(1521, 4)
(1522, 4)
(1523, 4)
(1524, 4)
(1525, 4)
(1526, 4)
(1527, 4)
(1528, 4)
(1529, 4)
(1530, 4)
(1531, 4)
(1532, 4)
(1533, 4)
(1534, 4)
(1535, 4)
(1536, 4)
(1537, 4)
(1538, 4)
(1539, 4)
(1540, 4)
(1541, 4)
(1542, 4)
(1543, 4)
(1544, 4)
(1545, 4)
(1546, 4)
(1547, 4)
(1548, 4)
(1549, 4)
(1550, 4)
(1551, 4)
(1552, 4)
(1553, 4)
(1554, 4)
(1555, 4)
(1556, 4)
(1557, 4)
(1558, 4)
(1559, 4)
(1560, 4)
(1561, 4)
(1562, 4)
(1563, 4)
(1564, 4)
(1565, 4)
(1566, 4)
(1567, 4)
(1568, 4)
(1569, 4)
(1570, 4)
(1571, 4)
(1572, 4)
(1573, 4)
(1574, 4)
(1575, 4)
(1576, 4)
(1577, 4)
(1578, 4)
(1579, 4)
(1580, 4)
(1581, 4)
(1582, 4)
(1583, 4)
(1584, 4)
(1585, 4)
(1586, 4)
(1587, 4)
(1588, 4)
(1589, 4)
(1590, 4)
(1591, 4)
(1592, 4)

In [ ]:
#ideally recommendation should not be the ones which the user has already seen
#ask sir for this should we remove those recommendations that the user has already seen in its training history
metric_df.to_csv('metric_df_train0_knowledge_graph.csv',index=False)

In [ ]:
import multiprocessing

def worker(num):
    

if __name__ == '__main__':
    # Create a list of processes
    processes = []
    for i in range(5):
        p = multiprocessing.Process(target=worker, args=(i,))
        processes.append(p)

    # Start the processes
    for p in processes:
        p.start()

    # Wait for all processes to complete
    for p in processes:
        p.join()

In [ ]:
https://www1.se.cuhk.edu.hk/~swang/VLDBJ2019-PAFO.pdf

In [ ]:
#biased evd

In [ ]:
pr = nx.pagerank(Train_Graph)

In [7]:
#NOTES
# how to change user specific node weights (maybe nodes connected to that user might be helpful)
# personalization
# one observation since movies are connected to more nodes as compared to user nodes (movies has features nodes as well so generally top ranks are occupied by the movies only)

In [ ]:
#Page_Rank Implementation

In [13]:
import numpy as np

def pagerank(M, num_iterations: int = 0, d: float = 0.85):
    """PageRank algorithm with explicit number of iterations. Returns ranking of nodes (pages) in the adjacency matrix.

    Parameters
    ----------
    M : numpy array
        adjacency matrix where M_i,j represents the link from 'j' to 'i', such that for all 'j'
        sum(i, M_i,j) = 1
    num_iterations : int, optional
        number of iterations, by default 100
    d : float, optional
        damping factor, by default 0.85

    Returns
    -------
    numpy array
        a vector of ranks such that v_i is the i-th rank from [0, 1],
        v sums to 1

    """
    N = M.shape[1]
    v = np.ones(N) / N
    M_hat = (d * M + (1 - d) / N)
    for i in range(num_iterations):
        v = M_hat @ v
    return v

M = np.array([[0, 0, 0, 0, 1],
              [0.5, 0, 0, 0, 0],
              [0.5, 0, 0, 0, 0],
              [0, 1, 0.5, 0, 0],
              [0, 0, 0.5, 1, 0]])
v = pagerank(M, 100, 0.85)

In [14]:
v

array([0.25419178, 0.13803151, 0.13803151, 0.20599017, 0.26375504])

In [ ]:
#variables to be taken into Knowledge Graph
#17 original_language

In [4]:
#not even one movie is adult
movie_v2[movie_v2["adult"]==True].shape

(0, 34)

In [28]:
movie_v2["genres.1"][1]

"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}]"

In [33]:
movie_v2.iloc[1,:].head(4)

movieId                           10
title               GoldenEye (1995)
genres     Action|Adventure|Thriller
year                            1995
Name: 1, dtype: object

In [38]:
movie_v2["original_language"].value_counts()

en    3299
fr     123
it      43
de      39
es      33
ja      30
zh      18
cn      15
ru       9
fa       7
sv       7
nl       5
pt       4
da       4
no       3
sr       3
xx       2
ar       2
cs       2
hu       2
bn       2
pl       2
vi       1
ta       1
ca       1
bo       1
ka       1
sh       1
ko       1
tr       1
hi       1
mk       1
el       1
nb       1
Name: original_language, dtype: int64

In [1]:
#knowledge graph building

In [ ]:
ratings_original = ratings[["userId","movieId","rating"]].copy()